package be.krivi.ucll.da.raspcast.api.config;

public class Config{

    // Amount of JSON objects to return if no limit is specified
    public static final int DEFAULT_LIMIT = 10;

    // The first JSON object to return if no offset is specified
    public static final int DEFAULT_OFFSET = 0;

    // Location from where to fetch current weather data
    public static final String DATA_URL = "http://localhost:8080/parser/weather";
}
