package be.krivi.ucll.da.raspcast.api.config;

/**
 * Created by Jan on 16/11/2016.
 */
public class Config{

    // Amount of JSON objects to return if no limit is specified
    public static final int DEFAULT_LIMIT = 10;

    // The first JSON object to return if no offset is specified
    public static final int DEFAULT_OFFSET = 0;

    // The Reader to use when new weather data is fetched
    public static final String READER = "DummyReader";
}
